@{
    ViewBag.Title = "Home Page";
}

<main>
    
    <p>New User? please @Html.ActionLink("Click Here", "Index", "Registration") for registration</p>
    <p>Existing user? please @Html.ActionLink("Click Here", "LogIn", "Home") to Login </p>
</main>